<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovopark.mapper.DisplayCenterTaskMapper">
    <resultMap id="BaseResultMap" type="com.ovopark.po.DisplayCenterTask">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="dept_id" property="deptId" jdbcType="INTEGER"/>
        <result column="dept_name" property="deptName" jdbcType="VARCHAR"/>
        <result column="operator_id" property="operatorId" jdbcType="INTEGER"/>
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR"/>
        <result column="audit_id" property="auditId" jdbcType="INTEGER"/>
        <result column="audit_name" property="auditName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="actual_score" property="actualScore" jdbcType="DECIMAL"/>
        <result column="total_score" property="totalScore" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, group_id, dept_id, dept_name, operator_id, operator_name,audit_id, audit_name,
    status,actual_score,total_score,create_time,create_id, update_time, update_id,is_delete
  </sql>


    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ovopark.po.DisplayCenterTask">
        insert into is_display_center_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!= null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="operatorId != null">
                operator_id,
            </if>
            <if test="operatorName != null">
                operator_name,
            </if>
            <if test="auditId != null">
                audit_id,
            </if>
            <if test="auditName != null">
                audit_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=INTEGER},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
            <if test="deptName != null">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="operatorId != null">
              #{operatorId,jdbcType=INTEGER},
            </if>
            <if test="operatorName != null">
              #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="auditId != null">
              #{auditId,jdbcType=INTEGER},
            </if>
            <if test="auditName != null">
              #{auditName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
              #{status,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
              #{createId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
              #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
              #{updateId,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
              #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
              #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>


    </insert>
    
    <select id="queryAppListByRelateTypeByPage" resultType="com.ovopark.po.DisplayCenterTask">
        select name,dept_id,dept_name,operator_id,audit_id,status,create_time from is_display_center_task
        where is_deleted =0
        <if test="groupId !=null">
            and group_id =#{groupId}
        </if>
        <if test="releateType ==1">
            and operator_id =#{userId} and status = 1
        </if>
        <if test="releateType ==2">
            and audit_id =#{userId} and status = 2
        </if>
        <if test="releateType ==null">
            and (audit_id =#{userId} or operator_id =#{userId})
        </if>
    </select>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.ovopark.po.DisplayCenterTask">
       select * from is_display_center_task where id = #{id} and is_deleted=0
    </select>
    

</mapper>