<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovopark.mapper.DisplayCenterExpandMapper" >
  <resultMap id="BaseResultMap" type="com.ovopark.po.DisplayCenterExpand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="previous_url" property="previousUrl" jdbcType="VARCHAR" />
    <result column="after_url" property="afterUrl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="actual_score" property="actualScore" jdbcType="DECIMAL" />
    <result column="total_score" property="totalScore" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDelete" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, group_id, task_id, previous_url, after_url, title, actual_score,total_score, status,
    create_time,create_id, update_time, update_id,is_deleted
  </sql>

  
  <insert id="batchSaveDisplayCenterExpand" parameterType="java.util.List">
    INSERT INTO is_display_center_expand (
    group_id,task_id,previous_url,after_url,title,total_score,
    status,create_time,create_id, update_time, update_id,is_deleted
    )VALUES
    <foreach collection="list" item="bo" separator=",">
      (
      #{bo.groupId},#{bo.taskId},#{bo.previousUrl},#{bo.afterUrl},#{bo.title},#{bo.totalScore},
      #{bo.status},#{bo.createTime},#{bo.createId},#{bo.updateTime},#{bo.updateId},#{bo.isDelete}
      )
    </foreach>
  </insert>

  
  <update id="batchUpdateActualScoreAndStatus" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update is_display_center_expand
      <set>
        <if test="item.actualScore != null">
          actual_score =#{item.actualScore},
        </if>
        <if test="item.status != null">
          status =#{item.status},
        </if>
      </set>
      WHERE is_deleted = 0
      and id =#{item.id}
    </foreach>
  </update>
  
  
  <select id="getDisplayExpandByTaskId" resultType="com.ovopark.po.DisplayCenterExpand">
        select * from is_display_center_expand where task_id =#{taskId} and is_deleted =0
  </select>
    
  <select id="queryExpandByTaskIdList" resultType="com.ovopark.po.DisplayCenterExpand">
    select * from is_display_center_expand where is_deleted =0
    <if test="list!=null and list.size>0">
      AND task_id IN (
      <foreach collection="list" item="taskId" separator=",">
        #{taskId}
      </foreach>
      )
    </if>
  </select>
  
</mapper>