<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovopark.mapper.InspectionOperatorLogMapper" >
  <resultMap id="BaseResultMap" type="com.ovopark.po.InspectionOperatorLog" >
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="group_id" property="groupId" jdbcType="INTEGER"/>
    <result column="task_id" property="taskId" jdbcType="INTEGER"/>
    <result column="user_id" property="userId" jdbcType="INTEGER"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="content" property="content" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_id" property="createId" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_id" property="updateId" jdbcType="INTEGER"/>
    <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, group_id, task_id,user_id,user_name,content,
    create_time,create_id, update_time, update_id,is_deleted,version
  </sql>


  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
          parameterType="com.ovopark.po.InspectionOperatorLog">
    insert into is_inspection_operator_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!= null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="selectLogListByGroupAndTaskIdList" resultType="com.ovopark.po.InspectionOperatorLog">
        select * from is_inspection_operator_log where group_id = #{groupId} and is_deleted =0
    <if test="list != null and list.size>0">
      AND task_id IN (
      <foreach collection="list" item="taskId" separator=",">
        #{taskId}
      </foreach>
      )
    </if>
  </select>
  
  

</mapper>