<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovopark.mapper.InspectionTaskMapper" >
  <resultMap id="BaseResultMap" type="com.ovopark.po.InspectionTask" >
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="group_id" property="groupId" jdbcType="INTEGER"/>
    <result column="operator_id" property="operatorId" jdbcType="INTEGER"/>
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR"/>
    <result column="audit_id" property="auditId" jdbcType="INTEGER"/>
    <result column="audit_name" property="auditName" jdbcType="VARCHAR"/>
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
    <result column="job_id" property="jobId" jdbcType="INTEGER"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="complete_expand_count" property="completePercent" jdbcType="INTEGER"/>
    <result column="total_expand_count" property="completePercent" jdbcType="INTEGER"/>
    <result column="complete_percent" property="completePercent" jdbcType="DECIMAL"/>
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    <result column="update_times" property="updateTimes" jdbcType="INTEGER"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_id" property="createId" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_id" property="updateId" jdbcType="INTEGER"/>
    <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    <result column="version" property="version" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, group_id, task_id, operator_id, operator_name, audit_id, audit_time,job_id, status,complete_percent,start_time,end_time,update_times,remark,
    create_time,create_id, update_time, update_id,is_deleted,version
  </sql>


  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
          parameterType="com.ovopark.po.InspectionTask">
    insert into is_inspection_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!= null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="auditId != null">
        audit_id,
      </if>
      <if test="auditName != null">
        audit_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="completeExpandCount != null">
        complete_expand_count,
      </if>
      <if test="totalExpandCount != null">
        total_expand_count,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="auditId != null">
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="auditName != null">
        #{auditName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="completeExpandCount != null">
        #{completeExpandCount,jdbcType=INTEGER},
      </if>
      <if test="totalExpandCount != null">
        #{totalExpandCount, jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateJobIdById">
    update is_inspection_task
    <set>
      <if test="jobId != null">
        job_id =#{jobId},
      </if>
    </set>
    WHERE is_deleted = 0
    and id =#{id}
  </update>
    
  <update id="deleteByPrimaryId">
     update is_inspection_task set is_deleted = 1 where id=#{id} and is_deleted=0
  </update>

  <update id="deleteByIdList">
     update is_inspection_task set is_deleted = 1 where group_id =#{groupId} and is_deleted=0
    <if test="list != null and list.size>0">
      AND id IN (
      <foreach collection="list" item="id" separator=",">
        #{id}
      </foreach>
      )
    </if>
  </update>



  <update id="updateByPrimaryId" parameterType="com.ovopark.po.InspectionTask">
    update is_inspection_task
    <set>
      <if test="name != null and name !=''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="auditId != null">
        audit_id = #{auditId,jdbcType=INTEGER},
      </if>
      <if test="auditName != null and auditName !=''">
        audit_name = #{auditName,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTimes != null">
        update_times = #{updateTimes,jdbcType=INTEGER},
      </if>
      <if test="jobId!=null">
        job_id =#{jobId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="completeExpandCount != null">
        complete_expand_count =#{completeExpandCount,jdbcType=INTEGER},
      </if>
      <if test="totalExpandCount != null">
        total_expand_count =#{totalExpandCount, jdbcType=INTEGER},
      </if>
      <if test="completePercent != null">
        complete_percent=#{completePercent},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark !=''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version!=null">
        version=version+1,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER};
  </update>


  <select id="selectbyPrimaryId" resultType="com.ovopark.po.InspectionTask">
        select * from is_inspection_task where  id =#{id} and is_deleted = 0
  </select>


  <update id="updateStatusById">
    update is_inspection_task
    <set>
      <if test="status != null">
        status =#{status},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id =#{id}
  </update>
  
  <update id="updateCompleteExpandCount">
    update is_inspection_task
    <set>
      <if test="completeExpandCount != null">
        complete_expand_count =#{completeExpandCount},
      </if>
      <if test="percent != null">
        complete_percent=#{percent},
      </if>
    </set>
    where id =#{id}
  </update>

  <select id="queryAppListByRelateTypeByPage" resultType="com.ovopark.po.InspectionTask">
    select * from is_inspection_task where is_deleted =0
    <if test="groupId !=null">
      and group_id =#{groupId}
    </if>
    <if test="releateType ==1">
      and operator_id =#{userId} and status in (3,4)
    </if>
    <if test="releateType ==2">
      and audit_id =#{userId} and status = 1
    </if>
    <if test="releateType ==null">
      and (audit_id =#{userId} or operator_id =#{userId} )
    </if>
    <if test="name!=null and name!=''">
      and name like CONCAT('%','${name}','%' )
    </if>
    <if test="status!=null">
      and status =#{status}
    </if>
    <if test="startTime != null and startTime!=''">
      and start_time &gt;= #{startTime}
    </if>
    <if test="endTime != null and endTime!=''">
      and end_time &lt;= #{endTime}
    </if>
    <if test="list != null and list.size>0">
      AND id IN (
      <foreach collection="list" item="id" separator=",">
        #{id}
      </foreach>
      )
    </if>
    order by status asc , end_time ,id desc
  </select>
  
  
  <select id="queryWebListByPage" resultType="com.ovopark.po.InspectionTask">
    select * from is_inspection_task where is_deleted =0
    <if test="groupId !=null">
      and group_id =#{groupId}
    </if>
    <if test="name!=null and name!=''">
      and name like CONCAT('%','${name}','%' )
    </if>
    <if test="operatorName!=null and operatorName!=''">
      and operator_name =#{operatorName}
    </if>
    <if test="status!=null">
      and status =#{status}
    </if>
    <if test="auditName!=null and auditName!=''">
      and audit_name =#{auditName}
    </if>
    <if test="startTime != null and startTime!=''">
      and start_time &gt;= #{startTime}
    </if>
    <if test="endTime != null and endTime!=''">
      and end_time &lt;= #{endTime}
    </if>
    <if test="expression != null and expression!='' and percent !=null">
     and  complete_percent  ${expression}   #{percent}
    </if>
    <if test="list != null and list.size>0">
      AND id IN (
      <foreach collection="list" item="id" separator=",">
        #{id}
      </foreach>
      )
    </if>
    <if test="sqlOrderExpression!=null">
      order by  ${sqlOrderExpression}
    </if>
    <if test="sqlOrderExpression==null">
      order by end_time ASC , create_time,id desc
    </if>
  </select>
  
  
  <select id="selectTaskByIdList" resultType="com.ovopark.po.InspectionTask">
    select * from is_inspection_task where is_deleted =0
    <if test="groupId !=null">
      and group_id =#{groupId}
    </if>
    <if test="list != null and list.size>0">
      AND id IN (
      <foreach collection="list" item="id" separator=",">
        #{id}
      </foreach>
      )
    </if>
  </select>
  
  
</mapper>