<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovopark.mapper.InspectionDeptTagMapper" >
  <resultMap id="BaseResultMap" type="com.ovopark.po.InspectionDeptTag" >
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="group_id" property="groupId" jdbcType="INTEGER"/>
    <result column="task_id" property="taskId" jdbcType="INTEGER"/>
    <result column="dept_id" property="deptId" jdbcType="INTEGER"/>
    <result column="tag_id" property="tagId" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_id" property="createId" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_id" property="updateId" jdbcType="INTEGER"/>
    <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, group_id, task_id, dept_id, tag_id,
    create_time,create_id, update_time, update_id,is_deleted,version
  </sql>


  <insert id="batchSaveInspectionDeptTag" parameterType="java.util.List">
    INSERT INTO is_inspection_dept_tag (
    group_id,task_id,dept_id,tag_id,
    create_time,create_id, update_time, update_id,is_deleted
    )VALUES
    <foreach collection="list" item="bo" separator=",">
      (
      #{bo.groupId},#{bo.taskId},#{bo.deptId},#{bo.tagId},
      #{bo.createTime},#{bo.createId},#{bo.updateTime},#{bo.updateId},#{bo.isDelete}
      )
    </foreach>
  </insert>
  
  <select id="selectTagIdListByTaskAndDeptList" resultType="com.ovopark.po.InspectionDeptTag">
    select  * from is_inspection_dept_tag where task_id =#{taskId} and  group_id=#{groupId} and is_deleted =0
    <if test="list != null and list.size>0">
      AND dept_id IN (
      <foreach collection="list" item="deptId" separator=",">
        #{deptId}
      </foreach>
      )
    </if>
  </select>
  
  <update id="deleteByTaskId">
        update is_inspection_dept_tag set is_deleted = 1 where task_id=#{taskId} and is_deleted=0
  </update>

</mapper>