<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovopark.mapper.InspectionCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.ovopark.po.InspectionCategory" >
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="group_id" property="groupId" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_id" property="createId" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_id" property="updateId" jdbcType="INTEGER"/>
    <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, group_id, name,
    create_time,create_id, update_time, update_id,is_deleted,version
  </sql>


  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
          parameterType="com.ovopark.po.InspectionCategory">
    insert into is_inspection_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!= null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryId" parameterType="com.ovopark.po.InspectionCategory">
    update is_inspection_category
    <set>
      <if test="name != null and name !=''">
        name =#{name},
      </if>
      <if test="updateTime != null">
        update_time =#{updateTime},
      </if>
      <if test="updateId != null">
        update_id =#{updateId},
      </if>
    </set>
    WHERE is_deleted = 0
    and id =#{id}
  </update>

  <update id="deleteByPrimaryId" parameterType="java.lang.Integer">
        update is_inspection_category set is_deleted =1   WHERE is_deleted = 0
        and id =#{id}
  </update>
  
  
  <select id="selectCategoryListByGroupId" resultType="com.ovopark.po.InspectionCategory">
    select * from  is_inspection_category where  is_deleted = 0 and  group_id=#{groupId}
  </select>

</mapper>